<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../plantilla/cabeza') %>
<style>
    .foto {
        width: 2cm;
        height: 2cm;
        border-radius: 1cm;
    }
    .apodo {
        background-color: azure;
        display: block;
        text-align: center;
    }
</style>
</head>
<body>
<div class="container">
<div class="container-fluid">
    <%- include('../plantilla/titulo') %>
    <%- include('../plantilla/menu_usuario') %>
    <h1>Comentarios</h1>
    <hr>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nro.</th>
                <th>Autor</th>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>Opciones</th>
            </tr>
        </thead>
    <% i=1;comentarios.forEach(comentario => {%>
        <tr>
            <td><%= i++ %></td>
            
            <td><img class="foto" src="/fotos/<%= comentario.foto %>">
                <span class="apodo"><%= comentario.apodo %></span></td>
            <td><%= comentario.comentario %></td>
            <td><%= moment(comentario.fecha).fromNow() %></td>
            
            </td>
        </tr>
    <% }); %>
    
    <tr>
        
        <td colspan="5">
            <form action="/usuario/comentar" method="POST">
            <input type="hidden" name="id_tema" value="<%= idtema %> ">
            <input type="text" class="form-control" name="comentario">
        
            <button type="submit" class="btn btn-success">Comentar</button>
            </form>
        </td>
        
    </tr>

    </table>

    <%- include('../plantilla/pie') %>
</div>
</div>
</body>
</html>